body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
input, button, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background: #007bff;
    color: white;
}
#logout {
    cursor: pointer;
    background: red;
    color: white;
}
#logout:hover {
    background: darkred;
    color: white;
}
.hidden {
    display: none;
}
.lgn-btn {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
#lgn-btn:hover {
    background: green;
    color: white(242, 243, 242);
}