backend/be2/__pycache__
frontend/fe1/package-lock.json
backend/auth-service/package-lock.json
backend/auth-service/.env
backend/eduprime-auth-service/.env
backend/eduprime-auth-service/package-lock.json
backend/be3/node_modules
frontend/fe3/node_modules/
frontend/fe6-activity/node_modules/
package-lock.json

dist
dist-ssr