backend/be2/__pycache__
frontend/fe1/package-lock.json
backend/auth-service/package-lock.json
backend/auth-service/.env
backend/eduprime-auth-service/.env
backend/eduprime-auth-service/package-lock.json
backend/be3/node_modules
frontend/fe3/node_modules/
frontend/fe6-activity/node_modules/
package-lock.json

dist
dist-ssr
backend/be4-vjbus/database.db

.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
